#
# .htaccess
# cm-xxx
#

## Enable URL rewriting
RewriteEngine On
RewriteBase /

## Some redirects

# Github
RewriteCond %{REQUEST_URI} ^(?:/?)(g(it(hub)?)?|s(ource)?)$ [NC]
RewriteRule ^(.*)$ https://github.com/EugeneKay/cm-xxx [L,R=307]

# Hello
RewriteCond %{REQUEST_URI} ^(?:/?)hello$ [NC]
RewriteRule ^(.*)$ http://stretchmyan.us [L,R=307]

## Correct Domain
RewriteCond %{SERVER_PORT} ^80$
RewriteCond %{HTTP_HOST} !^(\w{1,16}\.){0,2}cyanogenmod\.xxx$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(\w{1,16}\.){0,1}www\.cyanogenmod.xxx$ [NC]
RewriteRule ^(.*)$ http://cyanogenmod.xxx/$1 [L,R=307]

RewriteCond %{SERVER_PORT} ^443$
RewriteCond %{HTTP_HOST} !^(\w{1,16}\.){0,2}cyanogenmod\.xxx$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(\w{1,16}\.){0,1}www\.cyanogenmod.xxx$ [NC]
RewriteRule ^(.*)$ https://cyanogenmod.xxx/$1 [L,R=307]
